$iconColor: whitesmoke;
$facebook: #3b5998;
$twitter: #00acee;
$googlePlus: #db4a39;
$linkedIn: #0077b5;
$insta: #8a3ab9;
$screenColor: #151e31;
$backgroundColor: #24375a;
$backgroundnumColor: #1d2636;
$delreset: #4169b4;

body {
	margin: 0;
	text-align: center;
	background-color: $backgroundColor;
	font-size: 2em;
	height: 100vh;
	width: 100vw;
}
@mixin aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin hoverEffect {
	span:nth-child(5) {
		transform: translate(40px, -40px);
		opacity: 1;
	}
	span:nth-child(4) {
		transform: translate(30px, -30px);
		opacity: 0.8;
	}
	span:nth-child(3) {
		transform: translate(20px, -20px);
		opacity: 0.6;
	}
	span:nth-child(2) {
		transform: translate(10px, -10px);
		opacity: 0.4;
	}
	span:nth-child(1) {
		transform: translate(0px, 0px);
		opacity: 0.2;
	}
}

@mixin colors {
	li:nth-child(1) span {
		background-color: $facebook;
	}
	li:nth-child(2) span {
		background-color: $twitter;
	}
	li:nth-child(3) span {
		background-color: $insta;
	}
	li:nth-child(4) span {
		background-color: $linkedIn;
	}
	li:nth-child(5) span {
		background-color: $googlePlus;
	}
}

@mixin buttons {
	border-radius: 10px;
	height: 48px;
	width: 84px;
	margin-top: 10px;
	font-size: 1em;

	&:hover {
		cursor: pointer;
	}
}

.calculator {
	background-color: #24375a;
	margin: 0 auto;
	width: 390px;
	color: whitesmoke;
	height: 530px;
	position: relative;

	.themeswitcher {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.changer {
			width: 22%;
			height: 73%;
		}

		p {
			font-size: 25px;
			padding-left: 10px;
		}
	}

	.screen {
		margin-top: 21px;
		height: 90px;
		width: 100%;
		background-color: $screenColor;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		border-radius: 15px;
		p {
			font-size: 2em;
		}
	}

	.buttons {
		background-color: $backgroundnumColor;
		margin-top: 28px;
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-auto-rows: minmax(75px, auto);
		grid-template-areas:
			"buttons aside"
			"bottoms bottoms";
		border-radius: 20px;
		height: fit-content;

		button {
			@include buttons;
		}

		.mainButtons {
			margin-top: 10px;
			grid-area: buttons;
		}

		.sidebuttons {
			margin-top: 10px;
			grid-area: aside;

			#delete {
				background-color: $delreset;
				color: whitesmoke;
				font-size: 0.6em;
			}
		}

		.bottomButtons {
			grid-area: bottoms;

			.number {
				width: 46%;
			}
			#rest {
				background-color: $delreset;
				color: whitesmoke;
				font-size: 0.6em;
			}
			#equals {
				background-color: rgb(175, 41, 41);
				color: whitesmoke;
				font-size: 0.6em;
			}
		}
	}
}

.container {
	height: 12vh;
	@include aligner;
	background: slategray;

	ul {
		position: relative;
		margin: 0;
		padding: 0;
		display: flex;

		right: 5%;

		li {
			position: relative;
			list-style: none;
			width: 60px;
			height: 60px;
			margin: 0 50px;
			transform: rotate(-35deg) skew(25deg);

			span {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include aligner;
				color: $iconColor;
				font-size: 25px;
				transition: 0.5s;
			}
		}

		li:hover {
			@include hoverEffect;
		}
		@include colors;
	}
}

#name {
	color: whitesmoke;
}
