body {
  margin: 0;
  text-align: center;
  background-color: #24375a;
  font-size: 2em;
  height: 100vh;
  width: 100vw;
}

.calculator {
  background-color: #24375a;
  margin: 0 auto;
  width: 390px;
  color: whitesmoke;
  height: 530px;
  position: relative;
}

.calculator .themeswitcher {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calculator .themeswitcher .changer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 73%;
}

.calculator .themeswitcher .changer p {
  font-size: 11px;
}

.calculator .themeswitcher .changer .theme {
  padding-right: 17px;
}

.calculator .themeswitcher p {
  font-size: 25px;
  padding-left: 10px;
}

.calculator .themeswitcher .containingDiv {
  display: -ms-inline-grid;
  display: inline-grid;
}

.calculator .themeswitcher .containingDiv .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -6px;
}

.calculator .themeswitcher .containingDiv .numbers span {
  font-size: 14px;
}

.calculator .themeswitcher .containingDiv .numbers #left {
  margin-left: 10px;
}

.calculator .themeswitcher .containingDiv .checkButtons {
  background-color: #1d2636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -6px;
  border-radius: 20px;
}

.calculator .themeswitcher .containingDiv .checkButtons .checker {
  margin: 2px;
  padding: 0;
  cursor: pointer;
}

.calculator .screen {
  margin-top: 21px;
  height: 90px;
  width: 100%;
  background-color: #151e31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 15px;
}

.calculator .screen p {
  font-size: 2em;
}

.calculator .buttons {
  background-color: #1d2636;
  margin-top: 28px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-auto-rows: minmax(75px, auto);
      grid-template-areas: "buttons aside" "bottoms bottoms";
  border-radius: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.calculator .buttons button {
  border-radius: 10px;
  height: 48px;
  width: 84px;
  margin-top: 10px;
  font-size: 1em;
}

.calculator .buttons button:hover {
  cursor: pointer;
  background-color: #00acee;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.calculator .buttons .mainButtons {
  margin-top: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: buttons;
}

.calculator .buttons .sidebuttons {
  margin-top: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aside;
}

.calculator .buttons .sidebuttons #delete {
  background-color: #4169b4;
  color: whitesmoke;
  font-size: 0.6em;
}

.calculator .buttons .bottomButtons {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bottoms;
}

.calculator .buttons .bottomButtons .number {
  width: 46%;
}

.calculator .buttons .bottomButtons #rest {
  background-color: #4169b4;
  color: whitesmoke;
  font-size: 0.6em;
}

.calculator .buttons .bottomButtons #equals {
  background-color: #af2929;
  color: whitesmoke;
  font-size: 0.6em;
}

.container {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: slategray;
}

.container ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 5%;
}

.container ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 50px;
  -webkit-transform: rotate(-35deg) skew(25deg);
          transform: rotate(-35deg) skew(25deg);
}

.container ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container ul li:hover span:nth-child(5) {
  -webkit-transform: translate(40px, -40px);
          transform: translate(40px, -40px);
  opacity: 1;
}

.container ul li:hover span:nth-child(4) {
  -webkit-transform: translate(30px, -30px);
          transform: translate(30px, -30px);
  opacity: 0.8;
}

.container ul li:hover span:nth-child(3) {
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  opacity: 0.6;
}

.container ul li:hover span:nth-child(2) {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
  opacity: 0.4;
}

.container ul li:hover span:nth-child(1) {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 0.2;
}

.container ul li:nth-child(1) span {
  background-color: #3b5998;
}

.container ul li:nth-child(2) span {
  background-color: #00acee;
}

.container ul li:nth-child(3) span {
  background-color: #8a3ab9;
}

.container ul li:nth-child(4) span {
  background-color: #0077b5;
}

.container ul li:nth-child(5) span {
  background-color: #db4a39;
}

#name {
  color: whitesmoke;
}
/*# sourceMappingURL=styler.css.map */